*{
    margin: 0;
    padding: 0;
}

#content{
    margin: 5vh;
    padding: 5vh;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

